<main>

    <section id="section-banner">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/img/banner01.png" class="d-block w-100" alt="Game night">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/banner02.png" class="d-block w-100" alt="Jogos de console">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/banner03.png" class="d-block w-100" alt="Jogos de computador">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <h2>Ofertas imperdíveis</h2>
    <mat-grid-list cols="3">
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/minecraft.jpg" alt="Minecraft">
        
                <mat-card-header>
                  <mat-card-title>Minecraft</mat-card-title>
                </mat-card-header>
                
                <mat-card-content>
                  <p>
                    Jogo repleto de aventuras.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <p>R$ 260,00</p>
                  <button mat-button>Comprar</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/jogo2.PNG" alt="Mario">
        
                <mat-card-header>
                  <mat-card-title>Mario</mat-card-title>
                </mat-card-header>
                
                <mat-card-content>
                  <p>
                    Jogo clássico de aventura.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <p>R$ 200,00</p>
                  <button mat-button>Comprar</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/monstros.png" alt="Caça aos monstros">
        
                <mat-card-header>
                  <mat-card-title>Caça aos monstros</mat-card-title>
                </mat-card-header>
                
                <mat-card-content>
                  <p>
                    Aventura repleta de monstros.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <p>R$ 310,00</p>
                  <button mat-button>Comprar</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      

       






</main>